.form-container {
  .form-image {
    background-image: url("../../assets/images/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .logo-image {
    width: 5rem;
    align-self: flex-start;
  }
}
