.outlet-wrapper {
  padding-left: 13.5rem;
  padding-top: 11rem;
  .outlet-container {
    min-height: 30rem;
    font-size: 1.25rem;
  }
}
@media (max-width: 767px) {
  .outlet-wrapper {
    padding-left: 4rem;
  }
}
