.side-nav {
  background-color: white;
  color: gray;
  height: 80vh;
  min-height: 30rem;
  border-radius: 0 1rem 1rem 0;
  .nav-item {
    display: block;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid rgb(211, 211, 211);
    border-radius: 3px;
    font-size: larger;

    div {
      font-weight: bolder;
    }
    @media (max-width: 768px) {
      div {
        display: none;
      }
    }
  }
  .nav-item:last-child {
    border-bottom: 0;
  }
  .nav-item:hover {
    background-color: #64c0e4;
    color: white;
  }
}
@media (max-width: 768px) {
  .side-nav {
    padding-left: 0;
    padding-right: 0;
  }
}
