.side-nav {
  background-color: white;
  color: gray;
  min-height: 30rem;
  border-right: 2px solid rgb(165, 165, 165);
  .nav-item {
    display: block;
    padding: 1rem 1rem;
    font-size: 1.25rem;
    color: black;
    div {
      font-weight: bolder;
    }
    @media (max-width: 768px) {
      div {
        display: none;
      }
    }
  }
}
@media (max-width: 768px) {
  .side-nav {
    padding-left: 0;
    padding-right: 0;
  }
}
